﻿@using System.Collections
@model ScandiumWebsite.Models.RequestPatientChartViewModel
@{
    ViewBag.Title = "Practitioner Home Page";
}

<div class="jumbotron">
    <h1>Practitioner Home</h1>
    <p class="lead">This page will help Practitioners view Patient data graphically and dynamically.</p>
</div>

@using (Html.BeginForm("RequestPatientChart", "Practitioner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <h4>Get Patient Data.</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.PatientId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PatientId, (IEnumerable<SelectListItem>)ViewBag.PatientList)
        </div>
        @*@Html.LabelFor(m => m.SessionId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SessionId, (IEnumerable<SelectListItem>)ViewBag.SessionList);
        </div>*@
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Select"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}