﻿@using System.Collections
@model ScandiumWebsite.Models.RequestPatientChartViewModel
@{
    ViewBag.Title = "RequestPatientChart";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<div class="jumbotron">
    <h1>Practitioner Home</h1>
    <p class="lead">This page will help Practitioners view Patient data graphically and dynamically.</p>
</div>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var graphData = ""
    var isGraphReady = false;
    var graphTitle = "Session";
    var timeTitle = "Time(Hours:Minutes:Seconds)";
    //var timeFormatter = new google.visualization.DateFormat('HH:mm:ss.SSSSSSS');
    $(document).ready(function () {
        isGraphReady = false;
        $("#showGraph").click(function () {
            //alert();
            var id = $('#SessionId').val();
            getData(
                id,
                $('#LHK').prop('checked'),
                $('#RHK').prop('checked'),
                $('#LKA').prop('checked'),
                $('#RKA').prop('checked'),
                $('#LC').prop('checked')
            );
            
        });
        //Javascript logic to fire goes here
    });
    
    function getData(sessionId, LHK, RHK, LKA, RKA, LC) {
        var startData = ["timeIndex"]
        if (LHK) {
            startData.push("Left Hip Knee Angle"); 
        } if (RHK) {
            startData.push("Right Hip Knee Angle");
        } if (LKA) {
            startData.push("Left Knee Ankle Angle");
        } if (RKA) {
            startData.push("Right Knee Ankle Angle");
        } if (LC) {
            startData.push("Front Left Weight", "Front Right Weight", "Back Left Weight", "Back Right Weight");
        }

        var plotData = [startData];
        $.ajax({
            url: "/api/session/" + sessionId, success: function (result) {
                graphData = result;
                $.each(graphData.datapoints, function (i, item) {

                    var splitTime = graphData.datapoints[i].timeIndex.split(':');
                    splitTime[0] += ':';
                    timeTitle = "Time(Hours:Minutes:Seconds)"
                    if (splitTime[2].length > 2) {
                        splitTime[2] = splitTime[2].substring(0, 2);
                    }if(splitTime[0] === "00:"){
                        splitTime[0] = '';
                        timeTitle = "Time(Minutes:Seconds)"
                    }
                    var tempItem = [splitTime[0]+splitTime[1]+ ":"+splitTime[2]];
                    if (LHK) {
                        tempItem.push(graphData.datapoints[i].leftHipKneeAngle);
                    } if (RHK) {
                        tempItem.push(graphData.datapoints[i].rightHipKneeAngle);
                    } if (LKA) {
                        tempItem.push(graphData.datapoints[i].leftKneeAnkleAngle);
                    } if (RKA) {
                        tempItem.push(graphData.datapoints[i].rightKneeAnkleAngle);
                    } if (LC) {
                        tempItem.push(graphData.datapoints[i].frontLeftWeight, graphData.datapoints[i].frontRightWeight, graphData.datapoints[i].backLeftWeight, graphData.datapoints[i].backRightWeight);
                    }
                    plotData.push(tempItem);
                });
                isGraphReady = true;
                drawChart(plotData);
            }
        });
    };
      // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });
  
    google.charts.setOnLoadCallback(chartsLoaded);
    function chartsLoaded() {
        isGraphReady = true;
        //getData();
    }
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
    function drawChart(data) {
        if (!isGraphReady) {
            return;
        }
        // Create the data table.
          var data = new google.visualization.arrayToDataTable(data);
      

        // Set chart options
          var options = {
              title: graphTitle,
              hAxis: { title: timeTitle, titleTextStyle: { color: '#333' } },
              vAxis: { minValue: 0, scaleTYpe: 'log' },
              gridlines: {
                  units: {
                      hours: { format: ['hh:mm:ss a', 'ha'] },
                      minutes: { format: ['HH:mm a Z', ':mm'] }
                  },
                  count:15
              }
          };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>
@using (Html.BeginForm("RequestPatientChart", "Practitioner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <h4>Select the data attributes to be viewed:</h4>
    <br />
    <div class="form-group">
        @*@Html.LabelFor(m => m.PatientId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PatientId, (IEnumerable<SelectListItem>)ViewBag.PatientList);
        </div>*@
        <div class="form-inline">
            <div class="col-xs-1"></div>
            <label for="SessionId" >Select a Session:  </label>

            <div class="form-group">
                <div class="col-lg-8">
                    @Html.DropDownListFor(m => m.SessionId, (IEnumerable<SelectListItem>)ViewBag.SessionList)
                </div>
            </div>
        </div>
    </div>
    <!--Div that will hold the pie chart-->
    <div id="div1"></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 pull-left">
            <label class="checkbox-inline" ><input type="checkbox" id="LHK"value="">Left Hip Knee Angle</label>
            <label class="checkbox-inline" ><input type="checkbox" id="RHK"value="">Right Hip Knee Angle</label>
            <label class="checkbox-inline" ><input type="checkbox" id="LKA"value="">Left Knee Ankle Angle</label>
            <label class="checkbox-inline" ><input type="checkbox" id="RKA"value="">Right Knee Ankle Angle</label>
            <label class="checkbox-inline" ><input type="checkbox" id="LC"value="">Load Cells</label>
            <button type="button" id="showGraph" class="btn btn-primary pull-right">Show Graph!</button>
    </div>
    </div>
    <br />
    <div id="chart_div" style="height: 500px" class="container-fluid"></div>
}

@section Scripts {
   
}

