﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div align="center">
        <img src="~/Content/regait-logo.png" alt="ReGait Official Logo" />
    </div>
    <p class="lead">Gait rehabilitation is an expensive procedure that requires machines that very few datapoints have.
        In order to make gait training more portable and less costly, the ReGait Gait Training Walker was made.
        A patient will recieve from a datapoint a walker augmented with a micro pc, load cells, and a Microsoft Kinect.
        A patient simply needs to @Html.ActionLink("register", "Register", "Patient") and login to the walker via a touchpad
        to start recording data. The patient's practitioner can register @Html.ActionLink("here", "Register", "Patient") and
        get access to the data the patient sent during a home session.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Patient</h2>
        <p>
            Once a patient has been set up with a practitioner, the practitioner will issue the patient a walker and special stickers to
            bring home. These stickers assist the software in finding the joint position of the patient.
            The patient will then need to register here to setup the login PIN. Once that is complete, just put on the stickers directly on
            the six leg joints, login to the walker and start the session.
        </p>
        <p>@Html.ActionLink("Patient Registration", "Register", "Patient", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Practitioner</h2>
        <p>Before issuing a walker, a practitioner needs to register. Once done the practitioner can @Html.ActionLink("login", "Login", "Account")
           and query session data by patient and date.</p>
        <p>@Html.ActionLink("Practitioner Registration", "Register", "Practitioner", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>What does the ReGait Walker Do?</h2>
        <p>The ReGait Walker uses the Kinect, and 4 load cells located in each wheel to record joint angles and weight
            distribution. The MicroPC attached to the walker brings up a window for loggining in and starting the session.
            There is also a calibration view that shows the patient what the computer sees. This is used to make any adjustments
            to the stickers.</p>
    </div>
</div>